<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공유게시판 목록</title>

    <!--navbar inculude-->
    <div th:replace="~{header.html :: navbar}"></div>

    <!--Link css-->

</head>
<body>
<!--블라인드 클래스는 안보이게 css에서 처리 예정-->
<!--board_share list view-->
<div class="layout">
    <div class="panelCenter">
        <!--게시글 목록 헤드 기능-->
        <div class="article_container">
            <strong class="article_title">공유 게시판</strong>
            <div class="controller">
                <form class="article_search">
                    <fieldset class="article_search_area">
                        <legend class="blind">게시판 검색</legend>
                        <select name="search_option" id="option">
                            <option value="title">제목</option>
                            <option value="contents">내용</option>
                        </select>
                        <input placeholder="내용을 입력하세요">
                        <button>검색</button>
                    </fieldset>
                </form>
            </div>
            <!--게시글 목록 wrap-->
            <div class="board_wrap">
                <table class="listBoard">
                    <caption>
                        <span class="blind">게시글 목록</span>
                    <div style='width:80px; float: right;'>
                        <input type='button' class='btn' id='write-button' value='글쓰기'>
                    </div>
                    </caption>
                    <colgroup>
                        <col>
                        <col style="width: 110px">
                        <col style="width: 100px">
                        <col style="width: 75px">
                        <col style="width: 60px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody class="content" th:each="i : ${home}">
                    <tr>
                        <td th:text="${i.title}"
                            th:attr="data-id=${i.id}"
                            class="title"
                            onclick="upCountAndMove(this)"></td>
                        <td th:text="${i.member.getNick()}"></td>
                        <td th:text="${i.sysDate}"></td>
                        <td th:text="${i.vCount}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지 버튼 -->
            <div class="article_pagination">

                <!-- 이전 페이지 버튼 -->
                <!--disabled는 현재 페이지가 0일 때 버튼 비활성화-->
                <button class="article_page_bt"
                        th:disabled="${currentPage == 0}"
                        th:onclick="|location.href='/boardShare/home?page=${currentPage - 1}'|">&lt;</button>
                        <!--onclick시 현재 페이지에 1을 뺀 페이지로 이동-->

                <!-- 페이지 번호 버튼들 -->
                <!--thymeleaf numbers 유틸리티 메서드로 버튼 생성-->
                <!--classappend는 현재 버튼 강조 style 추가하는 코드-->
                <!--test = 현재 페이지에 1을 더함-->
                <span th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <button class="article_page_bt"
                        th:text="${page + 1}"
                        th:classappend="${page == currentPage} ? 'active'"
                        th:onclick="|location.href='/boardShare/home?page=${page}'|">
                    </button>
                </span>

                <!-- 다음 페이지 버튼 -->
                <!-- 마직막 페이지는 현재 페이지에 1을 더했음으로 -1을 해야 맞음-->
                <button class="article_page_bt"
                        th:disabled="${currentPage == totalPages - 1}"
                        th:onclick="|location.href='/boardShare/home?page=${currentPage + 1}'|">&gt;</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    document.getElementById('write-button').addEventListener('click', function() {
        // 주석구문 타임리프에서 처리 후 null이 아니라면 이 위치에 true가 삽입 됨
        const auth = /*[[${auth != null}]]*/ false;

        if (!auth) {
            alert('로그인이 필요합니다.');
            window.location.href = '/member/login';
        } else {
            window.location.href = '/boardShare/write';
        }
    });


    function upCountAndMove(contentsId) {
        const id = contentsId.getAttribute('data-id');
        fetch(`/boardShare/updateCount/${id}`, {
            method: 'POST'
        })
        .then(response => {
            if (response.ok) {
                window.location.href = `/boardShare/view/${id}`;
            } else {
                console.error('조회수 업데이트 실패');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>