<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>글쓰기</title>

    <!--navbar inculude-->
    <div th:replace="~{header.html :: navbar}"></div>

    <!--Link css-->

</head>
<body>
<!--board contents view code-->
<div class="contents_layout" style="background-color: rgb(193, 253, 221)">
    <div class="detail_title">
        <hr>
        <h3 th:text="${data.title}">글 제목</h3>
        <hr>
    </div>
    <div class="writer_info" style="display: flex; justify-content: space-between">
        <div style="padding-right: 30px; background-color: rgb(116, 217, 251)">
            <strong>닉네임 :</strong>
            <p style="display: inline" th:text="${data.member.getNick()}"></p>
        </div>
        <div style="display: flex; background-color: rgb(116, 217, 251); justify-content: left">
            <div style="padding-right: 30px">
                <strong>조회수 :</strong>
                <p style="display: inline" th:text="${data.vCount}"></p>
            </div>
            <div style="padding-right: 30px">
                <strong>날짜 :</strong>
                <p style="display: inline" th:text="${data.sysDate}"></p>
            </div>
        </div>
        <div style="padding-right: 15px; float: right; display: flex">
            <button th:onclick="|location.href='/boardShare/edit/${data.id}'|">수정</button>

            <form th:action="@{/boardShare/delete/{id}(id=${data.id})}" method="post" style="padding-left: 5px">
                <button type="submit">삭제</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="detail_text" style="justify-content: center; background-color: rgb(116, 251, 157)">
        <p th:text="${data.content}">글 내용</p>
    </div>
</div>

<!--comment write code-->
<div class="input_area">
    <div class="input_comment">
        <textarea placeholder="댓글을 입력하세요" style="margin: 10px 0px;"></textarea>
    </div>
    <div class="input_bottom_area" style="margin-bottom: 50px">
        <button class="input_comment_btn" type="button">등록</button>
    </div>
</div>

<!--comment view code-->
<div class="comment_view_container">
    <div class="comment_view">
        <div class="comment_profile" style="display: flex; align-items: center;" >
            <button type="button" class="profile_button">
                <img class="comment_image" width="28" height="28" src="https://ssl.pstatic.net/cmstatic/nng/img/img_anonymous_square_gray_opacity2x.png">
            </button>
            <div class="comment_nick">
                <strong>
                    <span>퉁퉁이</span>
                </strong>
            </div>
        </div>
    </div>
    <div class="comment_view" style="padding: 10px">
        <div>안녕하세요~</div>
    </div>
    <div class="coment_info" style="display: flex; justify-content: space-between">
        <div class="comment_time">
            <span>방금</span>
            <button class="reply" type="button">답글 쓰기</button>
        </div>
        <div class="comment_like" style="float: right">
            <button type="button">
                <span class="blind">좋아요이미지</span>
            </button>
        </div>
    </div>
</div>
</body>
</html>