<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>글쓰기</title>

    <!--navbar inculude-->
    <div th:replace="~{header.html :: navbar}"></div>

    <!--Link css-->

</head>
<body>

    <div class="layoutContent">
        <div class="panelCenter">
            <div id="write-contents" class="writeWrap">
                <div class="write_header_area">
                    <strong class="write_header_title">글쓰기</strong>
                </div>
                <form id="write-form" action="/boardShare/write" method="post" onsubmit="return writeContents(event)">
                    <div class="nick_area">
                        <div style="display : flex;">
                            닉네임 :
                            <div class="nick_show" th:text="${nick}"></div>
                        </div>
                    </div>
                    <div class="write_title_area">
                        <input id="write-title" class="write_input" type="text" name="title" minlength="1" placeholder="제목을 입력해주세요">
                    </div>
                    <div class="write_editor_area">
                        <textarea id="write-textarea" rows="5" cols="50" name="content" minlength="1" placeholder="내용을 입력해주세요"></textarea>
                    </div>
                    <div class="write_bt">
                        <button type="submit">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function writeContents(event) {
        const writeTitle = document.getElementById('write-title');
        const writeTextarea = document.getElementById('write-textarea');

        // 제목과 내용이 둘 중 하나라도 비어있는지 검사
        if(writeTitle.value.trim() === '' || writeTextarea.value.trim() === '') {
            alert('게시글 제목과 내용을 입력해 주세요.');
            event.preventDefault();
            return false;
        } else {
            alert('게시글이 작성되었습니다.');
            return true;
        }
    }
</script>
</html>