/*home_title css*/
.nav {
    justify-content: space-between;
}

.menu > h1 {
  background-color: rgb(116, 251, 157);
  flex-grow: 1;
}

.menu{
    background-color: rgb(193, 253, 221);
    list-style: none;
    padding: 0;
    display: flex;
}

.menu > li {
    background-color: rgb(116, 217, 251);
	margin: 0 10px;
	display: flex;
	align-items: center;
}

/*second_menu 2 css*/
.second_menu{
    display: inline-block;
}
.board_menu > li{
    background-color: rgb(193, 253, 221);
    list-style: none;
}
