<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지</title>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>

<h1>마이페이지</h1><hr>
<h4>회원 정보 수정</h4>

<table>
    <tr>
        <th>이름</th>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <th>닉네임</th>
        <td th:text="${user.nick}"></td>
    </tr>
    <tr>
        <th>성별</th>
        <td th:if="${user.gender == 'woman'}">여자</td>
        <td th:if="${user.gender == 'man'}">남자</td>
    </tr>
    <tr>
        <th>이메일</th>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <th>현재 비밀번호 입력</th>
        <form action="/member/password" method="post">
            <td>
                <input name="password" type="password">
                <input name="type" type="hidden" value="password">
                <button>비밀번호 변경</button>
            </td>
        </form>

    </tr>
    <tr>
        <th>회원탈퇴</th>
        <form action="/member/password" method="post">
            <td>
                <input name="password" type="password" placeholder="비밀번호 입력">
                <input name="type" type="hidden" value="delete">
                <button>회원 탈퇴</button>
            </td>
        </form>

    </tr>

</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const param = new URLSearchParams(window.location.search);

    if(param.get('result')=='false'){
        alert('비밀번호가 틀렸습니다.');
    }

</script>

</body>
</html>