<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 변경</title>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>
z
<h1>비밀번호 변경</h1>
<form action="/member/changePW" method="POST">
    <input name="id" type="hidden" th:value="${#authentication.principal.id}"><br>
    새 비밀번호 입력 : <input name="newPW" id="newPW" type="password"><br>
    비밀번호 확인 : <input name="confirmPW" id="confirmPW" type="password"><br>
    <label id="msg"></label>
    <button>비밀번호 변경</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $newPW = $('#newPW');
    var $confirmPW = $('#confirmPW');
    var $msg = $('#msg');


    $confirmPW.on('keyup',function(){
        if($newPW.val() == $confirmPW.val()){
            $msg.html("<span id='check1'>새 비밀번호가 서로 일치합니다.</span>")

							$("#check1").css({
								"color" : "#0D6EFD",
								"font-weight" : "bold",
								"font-size" : "15px"

							})
        }else{
            $msg.html("<span id='check1'>새 비밀번호가 서로 일치하지 않습니다.</span>");
            $("#check1").css({
								"color" : "#FA3E3E",
								"font-weight" : "bold",
								"font-size" : "15px"

							});
        }
    });

</script>

</body>
</html>