.nav {
    width: 1000px;
    margin:auto;
    justify-content: space-between;
    text-decoration-line: none;
}

.menu > h1 {
  background-color: red;
  flex-grow: 1;
}

.menu {
   // background-color: yellow;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu > li > a {
    text-decoration: none;
    	margin: 0 10px;
    	align-items: center;
}

.top{
    display: flex;
}

.board {
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

a {
  color : black;
  text-decoration: none;
}
a:visited {
  color : pink;
  text-decoration: none;
}
a:hover {
  color : red;
  text-decoration: underline;
}
a:active {
  color : green;
  text-decoration: none;
}

/* 옵션 버튼 */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
}

.dropbtn {
    background-color: #19A96D;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #19A96D;
}