
.menu{
    display: flex;
    justify-content: space-between;
}


.member_menu {
    list-style: none;
    text-align: right;
    justify-content: flex-end;
    margin-top: 20px;
}
.top > ul > li {
    display: inline-block;
}

.top > ul > li > a {
    color: black;
    padding: 10px;

}

html, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header {
    margin-top: 30px;
}

.header > a > img{
    height: 50px;
    width : 300px;
}

.section {
    margin: 30px 0px 30px 0;
}


.form-bar {
    display: flex;
    width : 500px;
    margin: 0 auto;
    box-shadow:0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 45px;
    border-radius: 30px;
    border: 1px solid white;
    text-indent: 15px;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
}
.search:focus {
    outline: none;
    border: none;
}

.section-contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.section-contents > div > a > img {
    margin: 10px 10px;
    height: 50px;
    width:50px;
}

.bestrecipe {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
    justify-content:center;
}

.bestrecipe > div > img {
    margin: 10px 10px;
    height: 100px;
    width:100px;
}

h6{
    margin: 10px;
    
}

.more{
    color: black;
    float: right;
    font-size: 10px;
    font: bold;
    margin-right: 20px;

}

.menu_btn{
    margin: 30px;
    float:left;}

.fullscreen_menu{
    display:none;
}

.fullscreen_menu{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7)}

.menu_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    margin:30px 0 0 -35px;
    
    
}

.menu_wrap li{
    padding:10px;
    list-style: none;
}

.menu_wrap a{
    display:inline-block;
    color: #fff;
    text-decoration:none;
}

.close_btn{
    text-align: right;
}

.close_btn a{
    display:inline-block;
    color:#fff;
    margin:10px;
}



.footer > form > a > input {
    border-radius: 15px;
    background-color: white;
    color: #3367D6;
    border: 1px solid black;
    height: 25px;
    outline: none;
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.pagination a.current {
    background-color: #3367D6;
    color: white;
}

.pagination a.disabled {
    color: #aaa;
    pointer-events: none;
}

.pagination a.disabled:hover {
    background-color: #fff;
}
