<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>실패!!!</title>
    <style >
        h1{
            color:red;
        }
    </style>

</head>
<body>

<h1 >당신! 무언가 잘못했군!! 다시하도록!!</h1><hr>

<!--명세 수정 8/21-->
<p th:text="${status}"></p>
<p th:text="${error}"></p>
<p th:text="${path}"></p>
<p th:text="${message}"></p>
<p th:text="${exception}"></p>



</body>
</html>