
<div class="nav" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml" >

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">

    <ul class="menu">
        <a href="/">
            <img class="logo" src="/img/로고.png" alt="logo"　width="150" height="150">
        </a>

        <div class="board">
            <li><a href="/boardnormal/home">게시판</a></li>
            <li><a href="/boardshare/home">나눔게시판</a></li>
            <li><a href="/boardrecipe/home">레시피게시판</a></li>
        </div>

        <div class="top">


            <li sec:authorize="isAnonymous()"><a href="/member/login">login</a>│</li>
            <li sec:authorize="isAnonymous()"><a href="/member/join">Join</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/member/logout">Logout</a>│</li>
            <li sec:authorize="isAuthenticated()"><a href="/member/myPage">myPage</a></li>
        </div>
    </ul>

</div>