<div class="nav" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <style>
        .nav {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding: 10px 20px;
            max-width:800px;
            margin: 0 auto;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .logo {
            width: 150px;
            height: auto;
        }
        .right-content {
            display: flex;
            align-items: center;
        }
        .board, .top {
            display: flex;
        }
        .board li, .top li {
            margin-left: 15px;
        }
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            transition: color 0.3s;
        }
        a:hover {
            color: #007bff;
        }
        ul{
            list-style: none;
        
        }
    </style>

    <ul class="menu">

        <li>
            <a href="/">
                <img class="logo" src="/img/cookeats_home.png" alt="logo">
            </a>
        </li>
        <li class="right-content">
            <ul class="board">
                <li><a href="/recommend">레시피 추천</a></li>
                <li><a href="/boardNormal/home">게시판</a></li>
                <li><a href="/boardShare/home">장터게시판</a></li>
                <li><a href="/boardRecipe/home">레시피게시판</a></li>
            </ul>
            <ul class="top">
                <li sec:authorize="isAnonymous()"><a href="/member/login">Login</a></li>
                <li sec:authorize="isAnonymous()"><a href="/member/join">Join</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/member/logout">Logout</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/member/myPage">MyPage</a></li>
            </ul>
        </li>

    </ul>
</div>