<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>홈페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>

<div class="container">

    <div class="top" xmlns:sec="http://www.w3.org/1999/xhtml">
        <ul>
        <li sec:authorize="isAnonymous()"><a href="/member/login">login</a>│</li>
        <li sec:authorize="isAnonymous()"><a href="/member/join">Join</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/member/logout">Logout</a>│</li>
        <li sec:authorize="isAuthenticated()"><a href="/member/myPage">myPage</a></li>
        </ul>
    </div>
    <header>
        <div class="header">
            <a href="/"><img src="img/cookeats_home.png"></a>

        </div>
    </header>
    <section>

        <div class="section">
            <form action="/search" method="get">
                <div class="form-bar">
                    <div>
                        <i class="fas fa-search"></i>
                        <input class="search" type="text" name="search" placeholder="검색어를 입력해주세요.">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section>
        <div class="section-contents">
            <div>
                <a href="/"><img src="img/recipe.png"></a>
                <a href="/"><img src="img/share.png"></a>
                <a href="/"><img src="img/normal.png"></a>
                <a href="/"><img src="img/member.png"></a>
            </div>

        </div>
    </section>
    <footer>
        <div class="footer">

        </div>
    </footer>
</div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const param = new URLSearchParams(window.location.search);

        var type ='';

        if(param.get('result')=='success'){
            if(param.get('type')=='delete'){
                type='회원 탈퇴가';
                alert(type+' 완료되었습니다.');
            }else if (param.get('type')=='join'){
                type='회원 가입이';
                alert(type+' 완료되었습니다.');
            }
            
        }

        

    </script>
</body>
</html>