<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>홈페이지</title>

    <div th:replace="~{header.html :: navbar}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}">

</head>
<body>
    <main class="main">
        <section class="contents">
            <article class="board_share">
                <table>
                    <caption class="cnt_cap">
                        나눔 게시판
                    </caption>

                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>날짜</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>나눔 게시판 첫글</td>
                        <td>2024-08-05</td>
                    </tr>
                    </tbody>
                </table>
            </article>

        </section>

    </main>
    <footer class="footer">
        <section>
            <div>
                <p>빈칸2</p>
            </div>

        </section>

    </footer>

</body>
</html>