<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>통합 검색</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}">
    <script src="https://use.fontawesome.com/releases/v6.6.0/js/all.js"></script>
    <div th:replace="~{header.html :: navbar}"></div>
</head>
<body>
<div class="content-wrapper">
    <section>
    <div class="section">
        <form action="/search" method="get">
            <div class="form-bar">
                <div>
                    <i class="fas fa-search"></i>
                    <input class="search" type="text" name="search" placeholder="검색어를 입력해주세요.">
                </div>
            </div>
        </form>
        <div class="options">
        <a href="/boardRecipe/home"><button class="searchOption">레시피</button></a>
        <a><button class="searchOption">자유 게시판</button></a>
        <a><button class="searchOption">장터 게시판</button></a>
        </div>
    </div>


</section>



<section class="search-result">

    <div class="section-box">
        <h2>검색 레시피</h2>
        <div class="recipe" th:if="${!#lists.isEmpty(recipe)}">

            <div th:each="recipe : ${recipe}" th:onclick="|location.href='@{ '/boardrecipe/recipe/' + ${recipe.id}}'|">

                <img th:src="@{${recipe.ATT_FILE_NO_MAIN}}">
                <h6 th:text="${recipe.RCP_NM}"></h6>
            </div>
        </div>

        <a class="more" href="/boardRecipe/home" th:if="${!#lists.isEmpty(recipe)}">레시피 더보기</a>

        <div th:if="${#lists.isEmpty(recipe)}">
            <h2>검색된 레시피가 없습니다.</h2>
        </div>
    </div>


    <div class="section-box">
        <h2>장터 게시판 검색</h2>
        <div class="boards" th:if="${!#lists.isEmpty(share)}">

            <div th:each="share : ${share}" th:onclick="|location.href='@{ '/boardShare/view/' + ${share.id}}'|">

                <h6 th:text="${share.title}"></h6>
            </div>
        </div>

        <a class="more" href="/boardShare/home" th:if="${!#lists.isEmpty(share)}">게시글 더보기</a>

        <div th:if="${#lists.isEmpty(share)}">
            <h2>검색된 게시글이 없습니다.</h2>
        </div>

    </div>

    <div class="section-box">
        <h2>자유 게시판 검색</h2>
        <div class="boards" th:if="!${#lists.isEmpty(normal)}">

            <div th:each="normal : ${normal}" th:onclick="|location.href='@{ '/boardnormal/articles/' + ${normal.id}}'|">

                <h6 th:text="${normal.title}"></h6>
            </div>
        </div>

        <a class="more" href="/boardNormal/home" th:if="!${#lists.isEmpty(normal)}">게시글 더보기</a>

        <div th:if="${#lists.isEmpty(normal)}">
            <h2>검색된 게시글이 없습니다.</h2>
        </div>
    </div>
</section>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>