<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>홈페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<h1>일단 통합 검색 </h1>

<h2>검색 레시피</h2>

<hr>

<h2>당근 게시판</h2>

<hr>

<h2>자유 게시판</h2>

<hr>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>