<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>레시피 게시판</title>
</head>
<body>

</form>

<main class="main">
    <section class="contents">
            <table>
                <caption class="cnt_cap">
                </caption>

                <thead>
                <tr class="title">
                    <th>순서</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>

                <tbody>
                </tr>
                </tbody>
            </table>
    </section>

</main>
<footer class="footer">
    <section>
        <div>
            <ul class="board">
            </ul>
        </div>
    </section>
</footer>
</body>
</html>