<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>레시피 목록</title>

    <!-- 헤더 포함 -->
    <div th:replace="~{css/header.html :: navbar}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>

<!-- 검색 폼 -->
<form action="/boardrecipe/searchbyingredient" method="get" class="search">
    <input name="ingredientName" style="display: inline;" placeholder="재료명 입력">
    <button type="submit">검색</button>
</form>

<main class="main">
    <section class="contents">
        <div>
            <table>
                <caption class="cnt_cap">
                    <h1>레시피 목록</h1>
                </caption>

                <thead>
                <tr class="title">
                    <th>순서</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>

                <tbody>
                <tr class="content" th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}"></td>
                    <td><a th:href="@{/boardrecipe/{id}(id=${recipe.id})}" th:text="${recipe.RCP_NM}"></a></td>
                    <td th:text="${recipe.member != null ? recipe.member.username : '작성자 정보 없음'}"></td>
                    <td th:text="${#dates.format(recipe.sys_date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${recipe.LLIKE}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer class="footer">
    <section>
        <div>
            <ul class="board">
                <li><a href="/boardrecipe/write">글쓰기</a></li>
            </ul>
        </div>
    </section>
</footer>
</body>
</html>
