<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>댓글</title>
</head>
<body>

<h1>댓글</h1>
<form action="/boardnormal/comment" method="POST">
    댓글 번호 :<br>
    닉네임 : <br>
    내용 : <input name="comment_contents"><br>

    <button>좋아요</button>
    <button type="submit">작성하기</button>
</form>

</body>
</html>