<!doctype html>
<div th:replace="~{header.html :: navbar}"></div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>

    <link rel="stylesheet" type="text/css" th:href="@{/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>

<!-- 검색 -->
<div class="section">
    <form action="/boardNormal/search" method="get">
        <div class="form-bar">
            <div>
                <i class="fas fa-search"></i>
                <input class="search" type="text" name="keyword" placeholder="검색어를 입력해주세요." >
            </div>
        </div>
    </form>
</div>

<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<!-- 정렬 옵션 -->
<div class="dropdown">
    <button class="dropbtn">옵션</button>
    <div class="dropdown-content">
        <a th:href="@{/boardNormal/search(keyword=${param.keyword}, sort='sysDate')}" th:text="'최신순'"></a>
        <a th:href="@{/boardNormal/search(keyword=${param.keyword}, sort='views')}" th:text="'조회순'"></a>
        <a th:href="@{/boardNormal/search(keyword=${param.keyword}, sort='likes')}" th:text="'추천순'"></a>
    </div>
</div>

<main class="main">
    <section class="contents">
        <div>
            <table>
                <caption class="cnt_cap">
                    <h1>자유게시판</h1>
                </caption>

                <thead>
                <tr class="title">
                    <th>순서</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                    <th>좋아요</th>
                </tr>
                </thead>

                <tbody>
                <tr class="content" th:each="i : ${page.content}">
                    <td th:text="${i.id}"></td>
                    <td><a th:href="@{/boardNormal/articles/{id}(id=${i.id})}" th:text="${i.title}"></a></td>
                    <td th:text="${i.member != null ? i.member.username : '작성자 정보 없음'}"></td>
                    <td th:text="${i.formattedSysDate}"></td>
                    <td th:text="${i.views}"></td>
                    <td th:text="${i.likes}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer class="footer">
    <section>
        <div>
            <ul class="board">
                <!-- 로그인된 사용자에게만 글쓰기 버튼이 보임 -->
                <li th:if="${#authentication.principal != null}">
                    <a href="/boardNormal/write">글쓰기</a>
                </li>
                <li th:if="${#authentication.principal == null}">
                    <a href="/member/login">로그인 후 글쓰기가 가능합니다.</a>
                </li>
            </ul>
        </div>
        <div class="pagination">
            <!-- 이전 페이지 링크 -->
            <a th:if="${page.hasPrevious()}" th:href="@{/boardNormal/home(page=${page.number - 1})}">이전</a>

            <!-- 페이지 번호 링크 -->
            <a th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:href="@{/boardNormal/home(page=${i})}" th:text="${i + 1}"></a>

            <!-- 다음 페이지 링크 -->
            <a th:if="${page.hasNext()}" th:href="@{/boardNormal/home(page=${page.number + 1})}">다음</a>
        </div>
    </section>
</footer>

</body>
</html>
