<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>게시판</title>

    <div th:replace="~{header.html :: navbar}"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/home.css}">

</head>
<body>

<!-- 검색 -->
<form action="/board/search" method="get" class="search">
    <input name="keyword" style="display : inline">
    <button>검색</button>
</form>

<main class="main">
    <section class="contents">
        <div>
            <table>
                <caption class="cnt_cap">
                    <h1>게시판</h1>
                </caption>

                <thead>
                <tr class="title">
                    <th>순서</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>

                <tbody>
                <tr class="content" th:each="i : ${list}">
                    <td th:text="${i.id}"></td>
                    <td><a th:href="@{/board/articles/{id}(id=${i.id})}" th:text="${i.title}"></a></td>
                    <td th:text="${i.member != null ? i.member.username : '작성자 정보 없음'}"></td>
                    <td th:text="${i.formattedSysDate}"></td>
                    <td th:text="${i.count}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>
<footer class="footer">
    <section>
        <div>
            <ul class="board">
                <li><a href="/board/write">글쓰기</a></li>
            </ul>
        </div>
    </section>
</footer>
</body>
</html>