<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>
<h1>검색 결과</h1>
<table>
    <thead>
    <tr>
        <th>순서</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${i.id}"></td>
        <td th:text="${i.member != null ? i.member.username : '작성자 정보 없음'}"></td>
        <td th:text="${i.formattedSysDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
