<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
</head>
<body>

<h1>자유게시판</h1>
<form action="/boardNormal/write" method="POST">
    <label for="nickname">닉네임:</label><br>
    <!-- username 변수를 p 태그의 내용으로 출력 -->
    <p id="nickname" th:text="${username}">닉네임</p><br><br>

    <label for="title">제목:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="content">내용:</label><br>
    <textarea id="content" name="content" rows="5" cols="33" required></textarea><br><br>

    <button type="submit">작성하기</button>
</form>

<ul class="boardhome">
    <li><a href="/boardNormal/home">목록</a></li>
</ul>

</body>
</html>
