<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
</head>
<body>

<h1>게시판</h1>
<form action="/boardnormal/write" method="POST">
    게시판 번호 :<br>
    닉네임 : <br>
    제목 : <input name="title"><br>
    내용 : <input name="content"><br>

    <button>좋아요</button>
    <button type="submit">작성하기</button>
</form>

</body>
</html>